{% extends "base.jinja2" %}

{% block content %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Directory</h1>
                <p class="lead text-muted">Signed in as {{ current_user.email }}</p>
                <p>
                    <a href="{{ url_for('signout') }}" class="btn btn-link my-2">Sign out</a>
                </p>
            </div>
        </section>
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    {% for user in users %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top img-responsive" src="{{ user.picture }}" data-holder-rendered="true">
                                <div class="card-body">
                                    <p class="card-text font-weight-bold">{{ user.name }}</p>
                                    <p class="card-text">{{ user.bio }}</p>
                                    {% if not current_user.limited %}
                                        <a href="mailto:{{ user.email }}" class="text-muted">{{ user.email }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
