{% extends "base.jinja2" %}

{% block body_class %}auth{% endblock %}

{% block content %}
    <form action="{{ url_for(request.endpoint) }}" method="post" class="form-auth">
        <h1>✨</h1>
        <h2 class="h3 mb-3 font-weight-normal">{{ title }}</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label for="input-email" class="sr-only">Email address</label>
        <input type="email" name="email" id="input-email" class="form-control" placeholder="Email address" required autofocus>
        <label for="input-name" class="sr-only">Name</label>
        <input type="text" name="name" id="input-name" class="form-control" placeholder="Name" required>
        <label for="input-bio" class="sr-only">Biography</label>
        <textarea name="bio" id="input-bio" class="form-control" rows=3 placeholder="All about me"></textarea>
        <label for="input-picture-url" class="sr-only">Picture URL (.jpg only)</label>
        <input type="url" name="picture" id="input-picture-url" class="form-control" placeholder="Picture URL">
        <label for="input-password" class="sr-only">Password</label>
        <input type="password" name="password" id="input-password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <a href="{{ url_for(alt_action) }}" class="btn btn-lg btn-link btn-block">{{ alt_label }}</a>
        <p class="mt-5 mb-3 text-muted">© {{ now.year }}</p>
    </form>
{% endblock %}